@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-autumn-leaves-1: #ffb344;
  --color-autumn-leaves-2: #db9b3a;
  --color-autumn-leaves-3: #b37e2e;
  --color-autumn-leaves-4: #61441a;

  --color-autumn-leaves-light-1: #fff2e0;

  --color-autumn-compliment-dark: #c7691c;
  --color-autumn-compliment-blue: #4490FF;

  --font-ZalandoSansExpanded: "Zalando Sans Expanded", sans-serif;
}

:root {
    background-color: #ffffff;
    font-family: "Zalando Sans Expanded", sans-serif;
}

#navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000;
}

